<div class="body">
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Kaiyo</h4>
                    <ul>
                        <li><a href="#">sobre nosotros</a></li>
                        <li><a href="#">política de privacidad</a></li>
                        <li><a href="#">Donaciones</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Preguntas frecuentes</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Compras</a></li>
                        <li><a href="#">Envíos</a></li>
                        <li><a href="#">Métodos de pago</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Contáctanos</h4>
                    <div class="social-links">
                        <a href="#"><fa-icon [icon]="phone" id="phone"></fa-icon></a>
                        <a href="#"><fa-icon [icon]="email" id="email"></fa-icon></a>
                    </div>
                </div>
            </div>
        </div>
</footer>
</div>

