<div class="container">
    <h1>PRODUCTOS</h1>
    <div class="gallery">
        <div class="content">
            <img src="assets/productos.png" alt="">
            <h3>Handmade Kimono</h3>
            <p>Kimono hecho a mano. Tela de cuadros con pequeños diseños en tonos anaranjados.</p>
            <h6>$80.00</h6>
            <button class="buy1">buy now</button>
        </div>

        <div class="content">
            <img src="assets/productos (1).png" alt="">
            <h3>Golden necklace set</h3>
            <p>Este set de collares contienen tres piezas. También puede adquirise por separado.</p>
            <h6>$15.00</h6>
            <button class="buy2">buy now</button>
        </div>

        <div class="content">
            <img src="assets/productos (2).png" alt="">
            <h3>Handmade cat T-shirt</h3>
            <p>Camisa oversize hecha a mano con diseños de gatos, y kanji's japoneses</p>
            <h6>$25.50</h6>
            <button class="buy3">buy now</button>
        </div>

        <div class="content">
            <img src="assets/productos (3).png" alt="">
            <h3>Sunny rings set (2)</h3>
            <p>Set de anillos dúos. Ambos colores pueden escogerse a preferencia.</p>
            <h6>$10.00</h6>
            <button class="buy4">buy now</button>
        </div>
    </div>

    <!------------>

    <div class="gallery">
        <div class="content">
            <img src="assets/products.png" alt="">
            <h3>White and Black blazer</h3>
            <p>Blazer hecho de algodón, blanco con rayas negras. Disponible en talla M y L.</p>
            <h6>$50.00</h6>
            <button class="buy5">buy now</button>
        </div>

        <div class="content">
            <img src="assets/products (1).png" alt="">
            <h3>Pretty heart necklace</h3>
            <p>Collar de color azul con cadena plateada. Disponible también en otros colores.</p>
            <h6>$18.00</h6>
            <button class="buy6">buy now</button>
        </div>

        <div class="content">
            <img src="assets/products (2).png" alt="">
            <h3>White flowered blouse</h3>
            <p>Blusa con estampado floreado de color blanco. Bordes diseñados con tela Chifón.</p>
            <h6>$25.50</h6>
            <button class="buy7">buy now</button>
        </div>

        <div class="content">
            <img src="assets/products (3).png" alt="">
            <h3>Pearl golden ring</h3>
            <p> Anillo de perla, con detalles sutiles y trabajdos. Pensado para propuestas de matrimonios, o regalos de aniversario.</p>
            <h6>$15.00</h6>
            <button class="buy8">buy now</button>
        </div>
    </div>
</div>