<!-- NAVBAR -->

<header class="header">
    <input type="checkbox" id="check">
        <label for="check">
            <fa-icon [icon]="icon" id="icono"></fa-icon>
            <fa-icon [icon]="equis" id="cancelar"></fa-icon>
        </label>
            <img src="\assets\Typographic Fashion Brand Logo.png" alt="sea" class="imagen">
        <nav>
            <ul class="nav-links">
                <li><a href="#somos">¿QUIÉNES SOMOS?</a></li>
                <li><a href="#mision">NUESTRA MISIÓN</a></li>
                <li><a href="#mision">NUESTRA VISIÓN</a></li>
                <li><a href="#productos">PRODUCTOS</a></li>
                <li><a href="#contacto">CONTACTO</a></li>
            </ul>
        </nav>
</header>

<!-- IMAGEN DE PRESENTACION -->

<div class="container2">
    <div class="main-image">
        <div class="content">
            <h1><span>Obten un 50% en todas las marcas</span></h1>
            <span class="cen">¡Válido solo hasta fin de mes!</span>
            <a class="button" href="#">Descubrir más</a>
        </div>
    </div>
</div>

<!-- CONTENIDO DE LA EMPRESA / QUIENES SOMOS -->
<div class="container">
    <div class="content-section">
        <div class="card" id="somos">
            <img src="\assets\again (1).png" alt="">
            <h3>Kaiyō</h3>
            <p>Derivada del kanji japonés "海洋", la palabra Kaiyō significa océano. Es usado para dar nombres a lugares, sin embargo, también sirve como nombre de persona, aunque es muy raro conocer a alguien que lo tenga.</p>
        </div>
        <div class="card">
            <img src="/assets/again.png" alt="">
            <h3>Comienzos</h3>
            <p>La empresa comenzó a crearse en un pequeño estudio en los suburbios de Chicago, Estados Unidos. En 1998, la señora Michelle Inoue diseñaba la ropa de sus hijos, y así, su legado pasó a generaciones hasta ahora.</p>
        </div>
        <div class="card">
            <img src="\assets\again (2).png" alt="">
            <h3>Inspiración</h3>
            <p>Michelle siempre quiso orientar un poco la cultura japonesa hacia sus diseños, sin embargo, su perspectiva al crearlos era que todos pudieran tener acceso a ellos, así que Michelle también creó diseños modernos.</p>
        </div>
    </div>
</div> 


<div class="section">
    <div class="contenido">
        <div class="contenido-section">
            <div class="title">
                <h1>Sobre Nosotros</h1>
            </div>
            <div class="cont">
                <h3>Nuestro propósito como empresa...</h3>
                <p>Como empresa, Kaiyō está decidido en aportar la elegancia, sencillez y creatividad que cualquier persona pueda buscar en una marca de ropa. Queremos aportar la mayor versatilidad a nuestro clientes y ayudarlos a encontrar el estilo que mejor les convenga.</p>
                <div class="btn">
                    <a href="#">Más información</a>
                </div>
            </div>
        </div>
        <div class="imagen-section">
            <img src="\assets\mb.png" alt="">
        </div>
    </div>
</div>



<!-- MISION Y VISION 
<div class="contenido">
    <section id="mision">
        <img src="\assets\mb.png" alt="">
    </section>
    <aside>
        <h2>Nuestro propósito como empresa</h2>
        <p>Como empresa, Kaiyō está decidido en aportar la elegancia, sencillez y creatividad que cualquier persona pueda buscar en una marca de ropa. Queremos aportar la mayor versatilidad a nuestro clientes y ayudarlos a encontrar el estilo que mejor les convenga.</p>
        <p>El poder verse y sentirse cómodo sin perder el estilo es una de nuestras metas, y fue lo que originó lo que ahora somos. Kaiyō tambien tiene como objetivo aportarle a nuestros clientes accesorios con los que puedan representar su esencia, personalidad y estilo.</p>
    </aside>
</div>
<br>
-->



